//- extends layout

//- block content
//-   h1= title 
//-   -
//-   .container-fluid
//-   .row

//-   - let cities = [{ name: 'New York', country: 'USA', population: 8398748 },{ name: 'London', country: 'UK', population: 8908081 },{ name: 'Tokyo', country: 'Japan', population: 37393129 }]
    
//-   div(class="container-fluid")
//-     div(class="row")
//-       each item, index in results  
//-         div(class="col-sm-2",onclick=buy(${index}))
//-           p Name: #{item.name}
//-           p Country: #{city.country}
//-           p Population: #{city.population}
extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row m-1")
      each item, index in results 
        - let destination = `dispatch(\"/city/update?id=${item._id}\")`
        div(class="col-sm-2",onclick=`buy(${index})`)
          ul
            li #{item.name} 
            li #{item.country}
            li #{item.population}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
      window.location.href=path
      }

